# Ignore all compiled executables on Windows


# Ignore compiled executables on Mac/Linux (files without extensions)
# This matches everything in the current directory and subdirectories, 
# but ignores files that have a '.' in their name (like .cpp, .gitignore)
*
!*.*
!*/
*.exe
